.note-list li {
  min-width: 20px;
  border: 1px solid gray;
  padding: 1%;
}

ul.note-list {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: stretch;
}

ul.chord-list {
  height: 50%;
  width: 80%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chord-list li {
  flex: 1 1;
}

.chord-list li button {
  width: 75px;
}

li.white {
  background: white;
  color: black;
}

li.black {
  background: black;
  color: white;
  justify-self: flex-start;
}
